body {
    margin: 0;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    background-image: url('img/BG_Login.png'); /* Set your background image here */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating the image */
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    position: relative;
}

.register-form {
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    border-radius: 15px;
    backdrop-filter: blur(10px); /* Frosted glass effect */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5); /* Optional border */
}

.register-form h2 {
    margin-bottom: 20px;
    color: #ffffff;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    text-align: left;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    padding: 10px 20px;
    background-color: #EBBA09;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.login {
    margin-top: 10px;
}

.login a {
    color: #EBBA09; /* Link color */
    text-decoration: none; /* No underline */
}

.login a:hover {
    text-decoration: underline; /* Underline on hover */
}
